*{
    margin:0px;
    padding:0px;
  
}

body{
    background-color:grey;
    color:white;
    max-width:800px;
    margin:0px auto;
    font-family: sans-serif, verdana;
    font-size: 14px;
}
/************START OF LOGO ***************/

#logo{
    width:80px;
    height:70px;
   border-radius: 50%;

}
#top-circle{
    grid-area:topCircle;
    width:80px;
    height:70px;
    border-radius: 50%;   
    position:relative;
    left:45%;
    top:32px;
    background-color:black;
}
#top-circle img{
    border:none;
    padding:10px 0px 0px 15px;
}

#left-of-circle{
    grid-area:leftOfCircle;

}
#right-of-circle{
    grid-area:rightOfCircle;
   
}

/************END OF LOGO ***************/

/************ MAIN CONTENT *************/
.intro-content{    
    background-color:rgb(75, 74, 74) ;
    color:white;
}
.intro-content h3{
    padding:20px 50px 0px 50px;
    text-decoration: underline;
}
.intro-content p{
    padding:20px 50px 50px 50px;

}
#intro {
    border-bottom: 2px solid white;
    text-align: center;

}
#intro h2{
    padding:30px 0px 20px 0px;

}
#resume-content{ 
    min-width:400px;     
    background-color:rgb(75, 74, 74) ;    
}
#resume-content h3{
    padding:20px 0px 10px 0px;
    font-weight:bold;
    text-decoration: underline;
}


/*********** BOTTOM NAVIGATION ************/
#spacer-left{
    grid-area:spacer-left;   
    border-right:2px solid white;
}
#spacer-right{
    grid-area:spacer-right;   

}
.nav-links{
    text-align: center;
    padding:20px 0px 0px 0px;
    height:35px;
    width:100px;
    font-weight:bold;
    font-size:120%;   
    border:1px solid white;
}
.nav-links a{
   padding:12px 18px;
    color:white;
    text-decoration: none;
}
.nav-links:hover{
    background-color: rgb(75, 74, 74);

}
#work-link{
    grid-area:work;
}
#resume-link{
    grid-area:resume;
}

#linkedin{
    grid-area:linkedin;    
    position: relative;    
}
#linkedin img{
    width:30px;
    height:30px;
   
}
#linkedin2{       
    position: relative;    
}
#linkedin2 img{
    width:30px;
    height:30px;
}
#github{
    grid-area:github;
    position:relative;
   
} 
#github img{
    width:30px;
    height:30px;
}
.github-work img{
    width:30px;
    height:30px;
}
/***************** For Images.html Bottom Navigation ****/
.nav-links2{

    text-align: center;
   
    height:35px;
    width:100px;
    font-weight:bold;
    font-size:120%;   
    border:1px solid white;
}

.nav-links2 a{
    color:white;
    padding:10px 20px;
    
}
.nav-links2:hover{
    background-color:rgb(75, 74, 74);
}
.nav-links2 a:hover{    
    color:white;
    text-decoration: none;
}
.art{
    border:1px solid grey;
    border-radius: 8%;
  
} 
.art img{
    padding:25px 0px 0px 35px;
}
.art img:hover{
    cursor:grab ;
} 
/*****************  For WORK.HTML ***********/

#center-body{
    margin:0px 30px;
}
.work-images-text h3{
    padding:15px 0px 15px 15px;
   
}
.work-images-text p{
    padding:0px 15px 0px 15px;
}
#image1-wrapper{
    grid-area: image1-wrapper;
    border:1px solid grey;
    border-radius:8%;
   
}
#image1 img{
  border-radius: 20%;  
  padding:10px 0px 8px 30px; 
}

#image1-text a{
    color:white;
    
}
#image2-wrapper{
    grid-area: image2-wrapper;
    border:1px solid grey;
    border-radius:8%;
    
}
#image2 img{
      
    padding:10px 0px 46px 30%; 
  }

#image3-wrapper{
    grid-area: image3-wrapper;
    border:1px solid grey;
    border-radius:8%;
    margin-bottom:20px;
}
#image3 img{
    border-radius: 20%;  
    padding:10px 0px 0px 25px; 
  }

#image3-text a{
    color:white;
}
#image4-wrapper{
    grid-area: image4-wrapper;
    border:1px solid grey;
    border-radius:8%;
    margin-bottom:20px;
}
#image4 img{
    border-radius: 20%;  
    padding:10px 0px 0px 25px; 
  }

#image4-text a{
    color:white;
}
#image5{
   
}

#footer a{
    text-decoration: none;
    color:white;
}
/*****************  For Responsive Layout ************/
/************************** Transition ***************/
@media only screen and (max-width:450px){

    #intro-content{
        min-width:450px;
    }
    
    #top-circle-wrapper{

        display:grid;
        border-bottom: 2px solid white;
        grid-template-rows: 50px 50px;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "topCircle topCircle "
        "leftOfCircle rightOfCircle";
    
    }
    #resume-inner-wrapper{   
        padding:0px 50px 0px 40px;
    }
    #resume-download{           
        padding:40px 0px 0px 0px;
    }
    #download h3{
        position:relative;
        top:40px;
        left:40px;
    }
    
    /************** FOR BOTTOM NAVIGATION *************/
    #nav-wrapper{
        display:grid;
        grid-template-rows:50px 100px 50px;
        grid-template-columns:1fr 1fr 1fr 1fr ;
        grid-template-areas:
        ". spacer-left spacer-right . " 
        ". work resume ." 
        ". . linkedin github";
    
    }
    #github{
        top:-40px;
        left:-30px;
    }
    #linkedin{
        top:-40px;
        left:40px;
    }
    /************** FOR IMAGES.HTML  *************/
    #nav-wrapper2{
        display:grid;
        background-color:grey;
        grid-template-rows:35px 100px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        ". spacer-left spacer-right . "        
        ". work resume .";
    
    }   
    
    /**************** FOR WORK.HTML *********/
    #work-wrapper{
        background-color:rgb(75, 74, 74);
        display:grid;
        
        min-width:450px;
        grid-template-columns:1fr;
        grid-template-rows:auto;
    
        grid-template-areas: 
        "image1-wrapper"     
        "image2-wrapper" 
        "image3-wrapper" 
        "image4-wrapper";
    
    }
    #image1-wrapper{
        margin-bottom: 20px;
    }
    #image2-wrapper{
        margin-bottom: 20px;
    }
   
  .intro-content{   
    width:450px;  
  }
    
}
/************************** Transition ***************/
@media (min-width:450px){

    #top-circle-wrapper{
        display:grid;
        border-bottom: 2px solid white;
        grid-template-rows: 50px 50px;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "topCircle topCircle "
        "leftOfCircle rightOfCircle";
    
    }
    #resume-inner-wrapper{   
        padding:0px 200px 0px 40px;
    }
    #resume-download{    
        padding:40px 0px 0px 120px;
    }
    #download h3{
        position:relative;
        top:40px;
        right:-160px;
    }
    
 /************** FOR BOTTOM NAVIGATION *************/
    #nav-wrapper{
        display:grid;
        grid-template-rows:50px 100px 50px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        ". . . spacer-left spacer-right . . ."
        ". . . work resume . . ."
        ". . . . linkedin github . .";
    
    }
    #github{
        top:-40px;
        left:-30px;
    }
    #linkedin{
        top:-40px;
        left:40px;
    }
 /*************** FOR IMAGES.HTML *********/
    #nav-wrapper2{
        display:grid;
        max-width:900px;
        background-color:grey;
        grid-template-rows:50px 100px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        ". . . spacer-left spacer-right . . ."
        ". . . work resume . . .";
    
    }    
    /***************** FOR WORK.HTML *********/
    
    #work-wrapper{
        background-color:rgb(75, 74, 74);
        width:800px;
        row-gap: 20px;
        column-gap: 20px;
        display:grid;
        grid-template-columns:25px 1fr 1fr 25px;
        grid-template-rows:350px 350px;
    
        grid-template-areas: 
        ". image1-wrapper image2-wrapper ."       
        ". image3-wrapper image4-wrapper ." ;
    
    }
    
  .intro-content{   
    width:800px;  
  }
}